name: snap
on:
  push:
    branches:
      - humble
  pull_request:
    branches:
      - humble
  workflow_dispatch:
  workflow_call:
   inputs:
      git-ref:
        required: false
        type: string
        default: ${{ github.ref }}

jobs:
  snap:
    uses: canonical/robotics-actions-workflows/.github/workflows/snap.yaml@main
    secrets:
      snapstore-login: ${{ secrets.STORE_LOGIN }}
    with:
      git-ref: ${{ inputs.git-ref }}
      runs-on: '["ubuntu-latest", ["self-hosted", "linux", "ARM64", "large", "noble"]]'
      snapcraft-enable-experimental-extensions: true
      snap-track: humble
      snap-test-script: |
        #!/bin/bash

        check_existence() {
          local topic_or_node="${1}"
          local name="${2}"
          local timeout="${3}"
          local start_time=$(date +%s)

          function is_running {
            local topic_or_node="${1}"
            local name="${2}"
            (ros2 $topic_or_node list | grep -q "$name")
            return $?
          }

          while true; do
            if is_running "${topic_or_node}" "${name}" ; then
              echo "${name} is running."
              return 0
            fi

            local current_time=$(date +%s)
            local elapsed_time=$((current_time - start_time))

            if [ $elapsed_time -ge $timeout ]; then
              echo "Error $name is not running."
              exit 1
            fi
            sleep 1
          done
        }

        ## Connect interfaces
        sudo snap connect ros2-teleop:hardware-observe
        sudo snap connect ros2-teleop:joystick
        sudo snap restart ros2-teleop

        ## set a joystick configuration
        sudo snap set ros2-teleop joy-config="ps3"

        ## Install ROS 2 cli
        sudo snap install ros2-cli --channel=humble/edge

        sudo snap start ros2-teleop.joy

        ## check that services are available
        check_existence topic joy_vel 30
        check_existence topic joy 30
        check_existence node joy_node 30
        check_existence node teleop_twist_joy_node 30

        sudo snap stop ros2-teleop.joy
